*{box-sizing: border-box;font-family: sans-serif;}
.meny{width: 1170px;margin: 0 auto;height: 200px;display: flex;background-color: aqua;justify-content:space-evenly;align-items: center;}
.zn{font-size: 45px;text-align:center;color: blueviolet;}
.wer{display: flex;}
.navigazia{padding-left: 10px;}
.verh{font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;font-size: 26px;color:rgb(255, 0, 0);}
.niz{font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;font-size: 16px;
}
a{text-decoration:none;font-size: 26px;}
a:hover{text-decoration: none;}
.kart{margin: 0 auto;width: 1170px;height: auto;padding-left: 80px;margin-bottom: 5px;}
.text{align-content: center;width: 1170px;margin: 0 auto;font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;border:10px inset lightblue;padding:6px;border-radius: 30px;border-top: color(srgb rgb(217, 20, 174) green blue);}
p{font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;}
.vse{background-color: aqua;width: 1170px;height: auto;margin: 0 auto;border:1px solid aqua;border-radius:9999;}